In [1]:
import pandas as pd
import numpy as np

from pathlib import Path

# NAICS Crosswalks

Following G&T, we create a weighted mapping from each standard to the next based on the concordance of 6-digit industries.

In [2]:
def get_weights(concord, fromstd, tostd, digits):
    return (
        concord
        [[f'{fromstd}_{digits}digit', f'{tostd}_{digits}digit']]
        .assign(weight=lambda df: (
            1 / (df[f'{fromstd}_{digits}digit'].map(
                df.groupby(f'{fromstd}_{digits}digit')
                .count()[f'{tostd}_{digits}digit']
            ))
        ))
        .groupby([f'{fromstd}_{digits}digit', f'{tostd}_{digits}digit'])
        .sum()
        .reset_index()
        .rename(columns=lambda x: x.split('_')[0])
    )

In [3]:
concord9702 = (
    pd.read_excel(
        'data/xwalks/1997_NAICS_to_2002_NAICS.xls',
        sheet_name=1,
        skipfooter=1,
        usecols=[0, 2],
        names=['naics97_6digit', 'naics02_6digit']
    )
    .assign(naics97_4digit=lambda df: df['naics97_6digit'] // 100)
    .assign(naics97_3digit=lambda df: df['naics97_6digit'] // 1000)
    .assign(naics02_4digit=lambda df: df['naics02_6digit'] // 100)
    .assign(naics02_3digit=lambda df: df['naics02_6digit'] // 1000)
)
concord9702.head()

,naics97_6digit,naics02_6digit,naics97_4digit,naics97_3digit,naics02_4digit,naics02_3digit
0,111110,111110,1111,111,1111,111
1,111120,111120,1111,111,1111,111
2,111130,111130,1111,111,1111,111
3,111140,111140,1111,111,1111,111
4,111150,111150,1111,111,1111,111

In [4]:
concord0207 = (
    pd.read_excel(
        'data/xwalks/2002_to_2007_NAICS.xls',
        skiprows=2,
        usecols=[0, 2],
        names=['naics02_6digit', 'naics07_6digit']
    )
    .assign(naics02_4digit=lambda df: df['naics02_6digit'] // 100)
    .assign(naics02_3digit=lambda df: df['naics02_6digit'] // 1000)
    .assign(naics07_4digit=lambda df: df['naics07_6digit'] // 100)
    .assign(naics07_3digit=lambda df: df['naics07_6digit'] // 1000)
)
concord0207.head()

,naics02_6digit,naics07_6digit,naics02_4digit,naics02_3digit,naics07_4digit,naics07_3digit
0,111110,111110,1111,111,1111,111
1,111120,111120,1111,111,1111,111
2,111130,111130,1111,111,1111,111
3,111140,111140,1111,111,1111,111
4,111150,111150,1111,111,1111,111

In [5]:
concord1207 = (
    pd.read_excel(
        'data/xwalks/2007_to_2012_NAICS.xls',
        skiprows=2,
        usecols=[0, 2],
        names=['naics07_6digit', 'naics12_6digit']
    )
    .assign(naics12_4digit=lambda df: df['naics12_6digit'] // 100)
    .assign(naics12_3digit=lambda df: df['naics12_6digit'] // 1000)
    .assign(naics07_4digit=lambda df: df['naics07_6digit'] // 100)
    .assign(naics07_3digit=lambda df: df['naics07_6digit'] // 1000)
)
concord1207.head()

,naics07_6digit,naics12_6digit,naics12_4digit,naics12_3digit,naics07_4digit,naics07_3digit
0,111110,111110,1111,111,1111,111
1,111120,111120,1111,111,1111,111
2,111130,111130,1111,111,1111,111
3,111140,111140,1111,111,1111,111
4,111150,111150,1111,111,1111,111

In [6]:
xwalk9702 = pd.concat(tuple(
    get_weights(concord9702, 'naics97', 'naics02', digits)
    for digits in (3, 4)
))
xwalk0207 = pd.concat(tuple(
    get_weights(concord0207, 'naics02', 'naics07', digits)
    for digits in (3, 4)
))
# NB: Converting from NAICS 2012 to 2007, not vice versa
xwalk1207 = pd.concat(tuple(
    get_weights(concord1207, 'naics12', 'naics07', digits)
    for digits in (3, 4)
))

# Compiling SUSB

We read in 98/99 through 06/07 from the SUSB Table files, which all follow the same format.
We read in 07/08 through 15/16 from the SUSB Database files.

The NAICS standards used are:

start year | end year | standard
:-:|:-:|:-:
98/99 | 02/03 | NAICS 97
03/04 | 07/08 | NAICS 02
08/09 | 12/13 | NAICS 07
13/14 | 15/16 | NAICS 12

All SUSB vintages are converted to NAICS 2007

In [53]:
def convert_naics(raw, fromstd, tostd, xwalk):
    return (
        raw
        .rename(columns={'naics_code': fromstd})
        .merge(xwalk.rename(columns={tostd: 'naics_code'}))
        .assign(value = lambda df: df['value'].mul(df['weight']))
        .groupby(['initial_year', 'naics_code', 'var'])[['value']]
        .sum(min_count=1)
        .reset_index()
    )

In [54]:
VARMAP_TABLE = {
    1: 'estb_initial',
    4: 'estb_births',
    5: 'estb_deaths',
    6: 'estb_expand',
    7: 'estb_contract',
    10: 'empl_initial',
    13: 'empl_births',
    14: 'empl_deaths',
    15: 'empl_expand',
    16: 'empl_contract',    
}

def read_susb_table(initial_year):
    print(initial_year)
    return (
        pd.read_excel(
            f'data/susb/us_4digitnaics_emplchange_{initial_year}-{initial_year+1}.xls',
            skiprows=7,
            na_values=['(D)', '[j]', '[k]', '[i]'],
        )
        .rename(columns={
            'CODE': 'naics_code',
            'CODE.1': 'var_code',
            'TOTAL': 'value',
        })
        .loc[lambda df: df['naics_code'].astype(str).str.contains('\d+')]
        .assign(naics_code=lambda df: (
            df['naics_code']
            .astype(str)
            .str.strip('-')
            .str.split('-').str[0]
            .astype(int)
        ))
        .loc[lambda df: df['naics_code'] >= 100]
        .loc[lambda df: df['var_code'].isin(VARMAP_TABLE)]
        .assign(var=lambda df: df['var_code'].map(VARMAP_TABLE))
        .assign(initial_year=initial_year)
        [['initial_year', 'naics_code', 'var', 'value']]
    )

In [55]:
VARMAP_DB = {
    'NAICS': 'naics_code',
    'INIT_ESTB': 'estb_initial',
    'INIT_EMPL': 'empl_initial',
    'INIT_EMPLFL_N': 'empl_initial_flag',
    'BIRTHS_ESTB': 'estb_births',
    'BIRTHS_EMPL': 'empl_births',
    'BIRTHS_EMPLFL_N': 'empl_births_flag',
    'DEATHS_ESTB': 'estb_deaths',
    'DEATHS_EMPL': 'empl_deaths',
    'DEATHS_EMPLFL_N': 'empl_deaths_flag',
    'EXP_ESTB': 'estb_expand',
    'EXP_EMPL': 'empl_expand',
    'EXP_EMPLFL_N': 'empl_expand_flag',
    'CONTR_ESTB': 'estb_contract',
    'CONTR_EMPL': 'empl_contract',
    'CONTR_EMPLFL_N': 'empl_contract_flag'
}
def read_susb_db(initial_year):
    print(initial_year)
    return (
        pd.read_csv(f'data/susb/us_state_emplchange_{initial_year}-{initial_year + 1}.txt')
        .loc[lambda df: df['STATE'] == 0]
        .loc[lambda df: df['ENTRSIZE'] == 1]
        [VARMAP_DB.keys()]
        .rename(columns=VARMAP_DB)
        .loc[lambda df: df['naics_code'].astype(str).str.contains('\d+')]
        .assign(naics_code=lambda df: (
            df['naics_code']
            .astype(str)
            .str.strip('-')
            .str.split('-').str[0]
            .astype(int)
        ))
        .loc[lambda df: df['naics_code'] >= 100]
        .assign(empl_initial=lambda df: (
            df['empl_initial']
            [~df['empl_initial_flag'].isin({'D', 'S'})] # Missing or Suppressed
        ))
        .assign(empl_births=lambda df: (
            df['empl_births']
            [~df['empl_births_flag'].isin({'D', 'S'})]
        ))
        .assign(empl_deaths=lambda df: (
            df['empl_deaths']
            [~df['empl_deaths_flag'].isin({'D', 'S'})]
        ))
        .assign(empl_expand=lambda df: (
            df['empl_expand']
            [~df['empl_expand_flag'].isin({'D', 'S'})]
        ))
        .assign(empl_contract=lambda df: (
            df['empl_contract']
            [~df['empl_contract_flag'].isin({'D', 'S'})]
        ))
        .drop([i for i in VARMAP_DB.values() if i.endswith('_flag')], axis='columns')
        .melt(id_vars=['naics_code'], var_name='var')
        .assign(initial_year=initial_year)
        [['initial_year', 'naics_code', 'var', 'value']]
    )

In [56]:
susb_naics97 = pd.concat(tuple(
    read_susb_table(initial_year)
    for initial_year in range(1998, 2003)
))
susb_naics97.sort_values(['initial_year', 'naics_code', 'var']).head()

1998
1999
2000
2001
2002

    initial_year  naics_code            var    value
52          1998         113    empl_births   5619.0
55          1998         113  empl_contract -10608.0
53          1998         113    empl_deaths  -6013.0
54          1998         113    empl_expand  10818.0
49          1998         113   empl_initial  84150.0

In [57]:
susb_naics02 = [convert_naics(susb_naics97, 'naics97', 'naics02', xwalk9702)]
susb_naics02.extend([
    read_susb_table(initial_year)
    for initial_year in range(2003, 2007)
])
susb_naics02.append(read_susb_db(2007))
susb_naics02 = pd.concat(susb_naics02)
susb_naics02.sort_values(['initial_year', 'naics_code', 'var']).head()

2003
2004
2005
2006
2007

   initial_year  naics_code            var    value
0          1998         113    empl_births   5619.0
1          1998         113  empl_contract -10608.0
2          1998         113    empl_deaths  -6013.0
3          1998         113    empl_expand  10818.0
4          1998         113   empl_initial  84150.0

In [58]:
susb_naics12 = pd.concat([
    read_susb_db(initial_year)
    for initial_year in range(2013, 2015)
])

2013
2014

In [59]:
susb_naics07 = [
    convert_naics(susb_naics02, 'naics02', 'naics07', xwalk0207)
]
susb_naics07.extend([
    read_susb_db(initial_year)
    for initial_year in range(2008, 2012)
])
susb_naics07.append(
    convert_naics(susb_naics12, 'naics12', 'naics07', xwalk1207)
)
susb_naics07 = pd.concat(susb_naics07)

2008
2009
2010
2011

In [84]:
Path('data/final').mkdir(parents=True, exist_ok=True)
susb_naics07.to_csv('data/final/susb_combined.csv')

In [85]:
(
    pd.read_csv(f'data/susb/us_state_emplchange_2015-2016.txt')
    .loc[lambda df: df['STATE'] == 0]
    .loc[lambda df: df['ENTRSIZE'] == 1]
    [VARMAP_DB.keys()]
    .rename(columns=VARMAP_DB)
    .loc[lambda df: df['naics_code'].astype(str).str.contains('\d+')]
    .assign(naics_code=lambda df: (
        df['naics_code']
        .astype(str)
        .str.strip('-')
        .str.split('-').str[0]
        .astype(int)
    ))
    .loc[lambda df: df['naics_code'] >= 100]
)

,naics_code,estb_initial,empl_initial,empl_initial_flag,estb_births,empl_births,empl_births_flag,estb_deaths,empl_deaths,empl_deaths_flag,estb_expand,empl_expand,empl_expand_flag,estb_contract,empl_contract,empl_contract_flag
16,113,7749,56155,G,848,3153,G,739,-2451,G,1975,5338,G,2112,-6526,G
24,1131,422,3666,H,33,123,G,30,-67,J,113,727,H,72,-203,H
32,1132,149,1395,G,21,94,J,23,-130,G,38,125,H,31,-135,G
40,1133,7178,51094,G,794,2936,G,686,-2254,G,1824,4486,G,2009,-6188,G
48,114,1530,7509,G,285,646,H,213,-922,H,214,600,G,190,-711,G
56,1141,1240,5905,G,258,596,H,185,-841,H,148,374,G,129,-569,G
64,1142,290,1604,G,27,50,G,28,-81,H,66,226,G,61,-142,G
72,115,9181,96455,G,1107,5585,G,998,-4805,H,2022,9057,G,1934,-8923,G
80,1151,3949,65303,G,450,3784,G,398,-3035,H,993,6175,G,1001,-6253,G
88,1152,3877,19468,G,504,1321,G,456,-1285,G,750,1705,G,634,-1370,G
96,1153,1355,11684,G,153,480,H,144,-485,H,279,1177,G,299,-1300,G
112,211,7226,135477,G,500,9349,H,926,-9258,H,859,6427,G,2235,-20860,G
120,2111,7226,135477,G,500,9349,H,926,-9258,H,859,6427,G,2235,-20860,G
128,212,5972,191948,G,322,4761,H,428,-8701,H,1855,9953,G,1721,-24376,G
136,2121,844,69894,G,37,2124,G,133,-6213,J,146,1598,G,396,-12659,G
144,2122,281,40237,G,32,419,J,33,-669,J,72,2124,H,105,-4343,G
152,2123,4847,81817,G,253,2218,G,262,-1819,G,1637,6231,G,1220,-7374,G
160,213,13722,416214,G,1151,12908,G,2516,-23816,G,1569,11191,G,5935,-125276,G
168,2131,13722,416214,G,1151,12908,G,2516,-23816,G,1569,11191,G,5935,-125276,G
184,221,17444,639230,G,1056,13877,G,812,-11405,G,4652,30276,G,4265,-32218,G
192,2211,10389,510023,G,664,8621,H,401,-7516,G,2921,23199,G,2752,-24596,G
200,2212,2500,86439,G,130,3233,H,117,-1691,H,684,3717,G,637,-4645,G
208,2213,4555,42768,G,262,2023,G,294,-2198,G,1047,3360,G,876,-2977,G
224,236,167967,1251496,G,28380,89379,G,21755,-68938,G,44652,181998,G,35853,-128496,G
232,2361,130584,635061,G,24514,66593,G,18393,-50411,G,31362,93258,G,25263,-65318,G
240,2362,37383,616435,G,3866,22786,G,3362,-18527,G,13290,88740,G,10590,-63178,G
248,237,34449,921449,G,2938,28940,G,2911,-29589,G,12050,125387,G,9529,-104591,G
256,2371,17572,548747,G,1525,19008,G,1461,-19781,G,6214,71586,G,5312,-68925,G
264,2372,4437,25189,G,390,1254,H,497,-1835,G,880,4224,G,680,-1936,G
272,2373,8706,260713,G,611,6362,G,605,-4722,G,3635,37626,G,2519,-25533,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2890,712,7060,146033,G,365,1352,H,272,-1186,G,2262,11472,G,1594,-6450,G
2898,7121,7060,146033,G,365,1352,H,272,-1186,G,2262,11472,G,1594,-6450,G
2906,713,63607,1601072,G,8027,74565,G,6166,-57625,G,22453,141294,G,18053,-98886,G
2914,7131,2624,196899,G,460,5701,G,327,-4123,G,960,10689,G,796,-8547,H
2922,7132,2700,152875,G,170,2539,G,212,-2099,G,720,6877,G,709,-6448,G
2930,7139,58283,1251298,G,7397,66325,G,5627,-51403,G,20773,123728,G,16548,-83891,G
2946,721,58828,2031552,G,5431,100503,G,4775,-86089,G,19437,120772,G,18362,-115454,G
2954,7211,51026,1976585,G,4823,98268,G,4191,-83972,G,17373,114063,G,16690,-110253,G
2962,7212,5868,43382,G,475,1652,H,446,-1662,H,1664,5211,G,1233,-3963,G
2970,7213,1934,11585,G,133,583,G,138,-455,G,400,1498,H,439,-1238,G
2978,722,561988,11159999,G,63897,903329,G,48065,-503644,G,204575,947586,G,180123,-882385,G
2986,7223,33868,716233,H,7508,118020,J,3435,-39756,H,12202,90835,H,9456,-98709,H
2994,7224,37379,367374,G,3896,33729,G,4025,-26615,G,11113,35255,G,10824,-33204,G
3002,7225,490741,10076392,G,52493,751580,G,40605,-437273,G,181260,821496,G,159843,-750472,G
3018,811,195171,1244227,G,17993,66768,G,16415,-59003,G,47995,120076,G,41120,-101163,G
3026,8111,146400,864729,G,12630,46363,G,11680,-41864,G,37464,82693,G,31124,-61651,G
3034,8112,10813,99618,G,1277,5195,G,1196,-4543,G,2288,12577,G,2266,-9345,G
3042,8113,19931,209978,G,1780,9931,G,1635,-8007,H,4851,18163,G,4771,-24660,G
3050,8114,18027,69902,G,2306,5279,G,1904,-4589,H,3392,6643,G,2959,-5507,G
3058,812,201190,1397277,G,23862,96481,G,19548,-77008,G,48580,131535,G,44590,-108334,G
3066,8121,110968,669306,G,14824,60363,G,11862,-43011,G,27791,67536,G,26136,-56248,G
3074,8122,19873,139273,G,635,2225,H,636,-2212,G,4302,8891,G,4141,-7885,G
3082,8123,32450,294574,G,2273,9465,G,2700,-14127,G,7142,21591,G,7142,-19773,G
3090,8129,37899,294124,G,6130,24428,G,4350,-17658,G,9345,33517,G,7171,-24428,G
3098,813,291662,2759037,G,15197,61145,H,13396,-54418,H,69571,210477,G,65511,-181331,G
3106,8131,177254,1680252,G,8149,24253,G,7382,-23821,G,42054,117974,G,41653,-109494,G
3114,8132,18293,186956,G,1519,12755,H,1071,-8277,J,4210,15623,G,3126,-9604,G
3122,8133,16302,165145,G,1333,5036,H,1022,-4876,H,4745,16863,G,3592,-12247,G
3130,8134,24298,238805,G,1575,7857,H,1284,-5702,H,6654,21337,G,6055,-18092,G
3138,8139,55515,487879,G,2621,11244,G,2637,-11742,G,11908,38680,G,11085,-31894,G

In [90]:
(
    susb_naics07
    .loc[lambda df: (
        (df['var'] == 'estb_births')
        & (df['value'] == 0)
    )]
)

      initial_year  naics_code          var  value
4375          2014         521  estb_births    0.0
6595          2014        5211  estb_births    0.0
6645          2014        5232  estb_births    0.0